FELCOM/FELCOM/Web References/ekomercio/WSFEBuilderSV.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:tns="http://www.ekomercio.com/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://www.ekomercio.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.ekomercio.com/">
      <s:element name="procesarXML_SV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="_XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="procesarXML_SVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procesarXML_SVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPDF_SV">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="User" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_UUID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getPDF_SVResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getPDF_SVResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocumentos">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_UUID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ConsecutivoInterno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NumeroControl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getDocumentosResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getDocumentosResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviar_Contigencia">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Encabezado" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Detalle" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviar_ContigenciaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enviar_ContigenciaResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="procesarTextoPlano">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="textoPlano" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="procesarTextoPlanoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="procesarTextoPlanoResult" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="textoPlano" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviar_Invalidacion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Usuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IdEmisor" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="textoPlano" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="enviar_InvalidacionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="enviar_InvalidacionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="procesarXML_SVSoapIn">
    <wsdl:part name="parameters" element="tns:procesarXML_SV" />
  </wsdl:message>
  <wsdl:message name="procesarXML_SVSoapOut">
    <wsdl:part name="parameters" element="tns:procesarXML_SVResponse" />
  </wsdl:message>
  <wsdl:message name="getPDF_SVSoapIn">
    <wsdl:part name="parameters" element="tns:getPDF_SV" />
  </wsdl:message>
  <wsdl:message name="getPDF_SVSoapOut">
    <wsdl:part name="parameters" element="tns:getPDF_SVResponse" />
  </wsdl:message>
  <wsdl:message name="getDocumentosSoapIn">
    <wsdl:part name="parameters" element="tns:getDocumentos" />
  </wsdl:message>
  <wsdl:message name="getDocumentosSoapOut">
    <wsdl:part name="parameters" element="tns:getDocumentosResponse" />
  </wsdl:message>
  <wsdl:message name="enviar_ContigenciaSoapIn">
    <wsdl:part name="parameters" element="tns:enviar_Contigencia" />
  </wsdl:message>
  <wsdl:message name="enviar_ContigenciaSoapOut">
    <wsdl:part name="parameters" element="tns:enviar_ContigenciaResponse" />
  </wsdl:message>
  <wsdl:message name="procesarTextoPlanoSoapIn">
    <wsdl:part name="parameters" element="tns:procesarTextoPlano" />
  </wsdl:message>
  <wsdl:message name="procesarTextoPlanoSoapOut">
    <wsdl:part name="parameters" element="tns:procesarTextoPlanoResponse" />
  </wsdl:message>
  <wsdl:message name="enviar_InvalidacionSoapIn">
    <wsdl:part name="parameters" element="tns:enviar_Invalidacion" />
  </wsdl:message>
  <wsdl:message name="enviar_InvalidacionSoapOut">
    <wsdl:part name="parameters" element="tns:enviar_InvalidacionResponse" />
  </wsdl:message>
  <wsdl:portType name="WSFEBuilderSoap">
    <wsdl:operation name="procesarXML_SV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera una factura electrónica con base en el XML contenido para El Salvador en la variable 'XML'. Parámetro: XML: Nodos con los datos mínimos para generar el documento electrónico. archivoJSON: Factura firmada JSON</wsdl:documentation>
      <wsdl:input message="tns:procesarXML_SVSoapIn" />
      <wsdl:output message="tns:procesarXML_SVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getPDF_SV">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera PDF en base64, o brinda un URL para poder descargar el documento directamente de la FE de El Salvador</wsdl:documentation>
      <wsdl:input message="tns:getPDF_SVSoapIn" />
      <wsdl:output message="tns:getPDF_SVSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getDocumentos">
      <wsdl:input message="tns:getDocumentosSoapIn" />
      <wsdl:output message="tns:getDocumentosSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enviar_Contigencia">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera la aprobación para la contingencia para enviar documentos de la FE de El Salvador</wsdl:documentation>
      <wsdl:input message="tns:enviar_ContigenciaSoapIn" />
      <wsdl:output message="tns:enviar_ContigenciaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="procesarTextoPlano">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera una factura electrónica con base en el texto plano contenidoen la variable 'textoPlano'. Los parámetros son los siguientes: usuario: Usuario asignado para ingresar al WebService WSFEBuilder.password: Contraseña asignada para ingresar al WebService WSFEBuilder.id: Identificación fiscal de la empresa emisora del documento (RUC).textoPlano: Texto plano según layout 3.70 de EdixCFD. archivoXML: Factura firmada xml</wsdl:documentation>
      <wsdl:input message="tns:procesarTextoPlanoSoapIn" />
      <wsdl:output message="tns:procesarTextoPlanoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="enviar_Invalidacion">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Genera  para enviar documentos de la FE de El Salvador</wsdl:documentation>
      <wsdl:input message="tns:enviar_InvalidacionSoapIn" />
      <wsdl:output message="tns:enviar_InvalidacionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSFEBuilderSoap" type="tns:WSFEBuilderSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="procesarXML_SV">
      <soap:operation soapAction="http://www.ekomercio.com/procesarXML_SV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPDF_SV">
      <soap:operation soapAction="http://www.ekomercio.com/getPDF_SV" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentos">
      <soap:operation soapAction="http://www.ekomercio.com/getDocumentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviar_Contigencia">
      <soap:operation soapAction="http://www.ekomercio.com/enviar_Contigencia" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarTextoPlano">
      <soap:operation soapAction="http://www.ekomercio.com/procesarTextoPlano" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviar_Invalidacion">
      <soap:operation soapAction="http://www.ekomercio.com/enviar_Invalidacion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WSFEBuilderSoap12" type="tns:WSFEBuilderSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="procesarXML_SV">
      <soap12:operation soapAction="http://www.ekomercio.com/procesarXML_SV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPDF_SV">
      <soap12:operation soapAction="http://www.ekomercio.com/getPDF_SV" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDocumentos">
      <soap12:operation soapAction="http://www.ekomercio.com/getDocumentos" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviar_Contigencia">
      <soap12:operation soapAction="http://www.ekomercio.com/enviar_Contigencia" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarTextoPlano">
      <soap12:operation soapAction="http://www.ekomercio.com/procesarTextoPlano" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="enviar_Invalidacion">
      <soap12:operation soapAction="http://www.ekomercio.com/enviar_Invalidacion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSFEBuilder">
    <wsdl:port name="WSFEBuilderSoap" binding="tns:WSFEBuilderSoap">
      <soap:address location="http://pruebassalvador.ekomercio.com/WSFEBuilderSV_GLOBALIMENTOS/WSFEBuilderSV.asmx" />
    </wsdl:port>
    <wsdl:port name="WSFEBuilderSoap12" binding="tns:WSFEBuilderSoap12">
      <soap12:address location="http://pruebassalvador.ekomercio.com/WSFEBuilderSV_GLOBALIMENTOS/WSFEBuilderSV.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>